body{
    font-family: 'Raleway', sans-serif;
    background:rgb(255, 251, 251);
    
}

/*Home do site*/






.banner {
    height: 430px;
    margin: 40px auto;
    background-image: url(../img/homem-aranha.jpg);
    background-size: cover;
}

.banner h1, .banner p{
    margin: 20px auto;
    position: relative;
    top: 240px;
    color: white;
    text-shadow: 20px blur black;
    font-weight: bold;
}

.banner h1{
    font-size: 52px;
}

.banner p{
    font-size: 22px;
}

.banner button{
    position: relative;
    top: 250px;
    left: 290px;
    padding: 15px 30px;
    background-color: #2A7AE4;
    color: white;
    border: none;
}

.produtos {
    margin: 40px auto;   
   
}

.produtos-categoria{
    display: flex;
    justify-content: space-around;
    margin: 60px 0px 10px 0px;
    font-weight: bold;
}
.produtos-categoria h2{
    font-size: 28px ;
}
.produtos__vitrine{
    display: flex;
    justify-content: space-around; 
}

.preco{
    font-weight: bold;
    padding:5px 5px 5px 0px;
}

.form-container{
    background: #EAF2FD;
}

.formulario-completo{
    display: flex;
    justify-content: space-around;
    margin: 0px auto 0px;
    padding: 40px 0px;
}

.formulario-completo li{
    margin: 0px 0px 40px 0px;
}

.formulario{
    width: 40%;
}

.formulario h2{
    font-weight: bold;
    margin: 0 0 10px 0
}

.inputs{
    display: flex;
    width: 300px;
    flex-direction: column;
    flex-wrap: wrap;
}

.inputs input{
    padding: 20px 5px;
    margin: 10px 0px;
    font: 16px;
    border: none;
}

.inputs textarea{
    width: 300px;
    height: 100px;
    padding: 20px 5px;
    border: none;
}

.inputs label{
    position: relative;
    font-size: 12px;
    top: 27px;
    left: 5px;
}

footer {
    background: url(../img/bg.jpg);
    text-align: center;
    color:#EAF2FD;
    padding: 80px;
}

a {
    font-size: 12px;
    text-decoration: none;
    color: #2A7AE4;
    font-weight: bold;
}

/*Pagina de login*/


.login-senha-container{
    background: #b6b8bb;
}

.login-senha {
    width: 940px;
    margin: 0px auto;
    text-align: center;
    padding: 150px 0px;
    
}

.login-senha h1{
    font-weight: bold;

}

.input-login{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px;
}


.input-login input{
    width: 300px;
    padding: 15px 5px 5px 5px;
    border: none;
    border-radius: 5px;
}

.input-login label{
    position: relative;
    top: 17px;
    right: 130px;
    font-size: 12px;
}



@media screen and (max-width: 768px){
    .cabecalho, .banner h1, .banner, .produtos, .formulario-completo{
        width: auto;
    }


};