.banner__texto{
    color: aliceblue;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0px 15px 120px;
    text-shadow: 0 3px 2px black;
}
@media screen and (max-width: 468px) {
    .banner__texto {
        margin: 30px 30px;
        text-align: center;
    }
}