.banner{
    background-image: url(../../img/homem-aranha.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 430px;
    justify-content: center;
    margin: 40px auto;
};

@media screen and (max-width: 468px) {
    .banner {
        margin: 0px;
        text-align: center;
        justify-content: flex-end;
    }

}