.faleConosco__titulo{
    font-weight: bold;
    margin: 0 0 10px 0
}
.faleConosco__label{
    position: relative;
    font-size: 12px;
    top: 27px;
    left: 5px;
}
.faleConosco__inputs{
    padding: 20px 5px;
    margin: 10px 0px;
    font: 16px;
    border: none;
}
.faleConosco__formulario{
display: flex;
    width: 290px;
    flex-direction: column;
    flex-wrap: wrap;
}
.faleConosco__textarea{
width: 290px;
height: 100px;
padding: 20px 5px;
border: none;
}
.faleConosco__botao{
    background-color: #2A7AE4;
    border: none;
    color: white;
    margin-top: 20px;
    padding: 10px 30px;
    transition: 1s all;
    width: 300px;    
}
.faleConosco__botao:hover{
    background-color: red;
    transform: scale(1.2);
}
