.produtos__vitrine{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 0px 120px;
    padding: 40px auto;
}

@media screen and (max-width: 460px){
    .produtos__vitrine {
        margin: 0px 20px;
        justify-content: space-between;
    }
    
}